<div class="jumbotron">
	<div class="header">
		<h1>Vehicles <small>All the {{resultVehicles.count}} star wars vehicles</small></h1>
	</div>
	<br>
	<div class="page table-responsive">
		<table class="table table-striped table-hover" style="overflow-x: scroll !important" width="100%">
			<thead>
				<tr class="table table-header">
					<th>Name</th>
					<th>Model</th>
					<th>Class</th>
					<th>Manufacturer</th>
					<th>Cost</th>
					<th>Length</th>
					<th>Crew</th>
					<th>Passangers</th>
					<th>Max Atmosphering Speed</th>
					<th>Cargo Capacity</th>
					<th>Consumables</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="v in resultVehicles.results | orderBy : 'vehicle_class'" ng-click="">
					<td>{{v.name}}</td>
					<td>{{v.model}}</td>
					<td>{{v.vehicle_class}}</td>
					<td>{{v.manufacturer}}</td>
					<td>{{v.cost_in_credits}}</td>
					<td>{{v.length}}</td>
					<td>{{v.crew}}</td>
					<td>{{v.passengers}}</td>
					<td>{{v.max_atmosphering_speed}}</td>
					<td>{{v.cargo_capacity}}</td>
					<td>{{v.consumables}}</td>
				</tr>
			</tbody>
			<tfoot>

			</tfoot>
		</table>
</div>
